body {
    margin: 0;
    padding: 0;
    padding-bottom: 20px;
  }

.direction {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 19px;
    color: black;
    background-color: rgb(235, 232, 183);
}

.direction:hover {
    background-color: rgb(235, 195, 187);
    color: rgb(8, 140, 241);
}

.speech {
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: 12px;
  color: black;
}

.chubukov {
  color: rgb(42, 86, 220);
}

.lomov {
  color: rgb(159, 6, 108);
}

body{
  margin: 0;
  padding: 0;
  padding-bottom: 60px;
}

.table-section {
  width: 100px;
  border-collapse: collapse;
  margin : 10px 10px 10px 10px;
}

.table-section th, td {
  border: 1px solid #1353c2;
  padding: 28px;
  text-align: center;
}

.table-section th {
  background-color: #c2aeae;
}

.chubukov:hover {
  text-shadow: 3px 4px 7px rgb(29, 34, 51);
  border: 3px solid rgb(157, 38, 50);
  width: fit-content;
}

.lomov:hover {
  text-shadow: 3px 4px 7px rgba(217, 14, 167, 0.433);
  border: 3px solid rgb(38, 157, 111);
  width: fit-content;
}

.my-navbar{
  background-color: rgba(39, 127, 178, 0.381);
  display: flex;
  width: 100%;
  left: 0;
  position: fixed;
  bottom: 0;
  height: 60px;
}

.nav-content {
  display: flex;
  padding: 35px;
  align-items: center;
  text-decoration: none;
  color: rgb(34, 15, 57);
  font-size: large;
}